.answers {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  margin: 2rem 0;
  grid-auto-flow: column;
}

.answer {
  width: 100%;
  height: 60px;
  background: var(--questionBG);
  display: flex;
  align-items: center;
  font-weight: 500;
  padding: 0 1.1rem;
  cursor: pointer;
  border-radius: 4px;
}
.answer:hover {
  background: #d3d7e4;
}

.answer input {
  margin-right: 15px;
}

.correct {
  background: var(--successGreen) !important;
  font-weight: 600;
}

.wrong {
  background: var(--dangerRed) !important;
  font-weight: 600;
}

.progressBar {
  width: calc(100vw - 100px);
  height: 65px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  align-items: center;
  gap: 20px;
}

.progressBar .backButton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #47f5901c;
  margin-left: 10px;
  cursor: pointer;
}

.progressBar .nextButton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #47f5901c;
  margin-right: 10px;
  cursor: pointer;
}

.progressBar .backButton:hover {
  background: #47f5953a;
}
.progressBar .nextButton:hover {
  background: #47f5953a;
}

.rangeArea {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.tooltip {
  position: absolute;
  top: -70px;
  left: calc(70% - 65px);
  width: 130px;
  background-color: var(--fontPrimary);
  color: #fff;
  padding: 0.8rem 1rem;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
}
.tooltip::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--fontPrimary);
  border-radius: 4px;
  bottom: 0;
  left: 57%;
  transform: rotate(45deg) translate(-50%, 110%);
}

.rangeBody {
  width: 100%;
  height: 4px;
  background: #e4e8ee;
  border: none;
  outline: none;
  border-radius: 20px;
}

.progress {
  height: 4px;
  background: var(--fontPrimary);
  border-radius: 20px;
  position: relative;
}
.progress::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 100%;
  background-color: var(--fontPrimary);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.miniPlayer {
  width: 320px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.miniPlayer img {
  width: 300px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  animation: miniplayerAnim 0.3s ease forwards;
}

.open {
  display: none;
}

.close {
  display: block;
  position: absolute;
  right: -8px;
  top: -10px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 20px;
  padding: 5px 0 0 3px;
}
.close:hover {
  color: #666666;
  cursor: pointer;
  outline: 0;
}
@keyframes miniplayerAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.miniPlayer p {
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  color: var(--fontPrimary);
}

.floatingBtn {
  width: 60px;
  height: 60px;
  bottom: 80px;
  right: 10px;
  overflow: hidden;
  border-radius: 50px;
  background-color: var(--fontPrimary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.floatingBtn:hover {
  background-color: var(--successGreen);
}

.floatingBtn:hover span {
  color: var(--fontPrimary);
}

.floatingBtn p {
  display: none;
}

.floatingBtn img {
  transform: scale(0);
  display: none;
}

.floatingBtn span {
  color: var(--successGreen);
  font-weight: 500;
}

.floatingBtn .open {
  display: block;
}

.floatingBtn .close {
  display: none;
}
